#matrix {
    border: 1px solid black;
    visibility: hidden;
}

#gui{
    padding: 5px;
    padding-bottom: 10px;             
}

html, body{
    height:100%;
    margin:0;
}

#wrap{
    padding-bottom:100px;
    min-height:100%;
}

#footer {
  margin-top:-100px;
  text-align: center;
}

#solution{
    padding:10px;
    visibility: hidden;
}

#solutionMatrix{
    padding: 20px;
    border: 4px solid black;
    border-spacing:5px;
}

.inlineText{ 
    padding-left:10px;
    display: inline; 
}

.shrunkenInput{
    width: 60px;
}

.paddedRow{
    padding-left:20px;
    padding-right:20px;
    text-align:right;
}

.customButton1{

}

.customButton1:hover{
}
